.iphone-animation {
    height: 100%;
    width: 100%;
    display: grid;
    place-items: end center;
    overflow: hidden;
    position: relative;
    // background-color: #21D4FD;
    // background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    background-image: linear-gradient(315deg, #FAD961 0%, #F76B1C 100%); 

    .home-bar {
        position: absolute;
        top: 1.5rem;
        left: 0;
        width: 100%;
        padding: 0 1.5rem;
        display: flex;
        justify-content: space-between;
        color: white;
        font-size: 1.2rem;
        z-index: 30;

        &__icons {
            display: flex;

            i:first-of-type {
                padding-right: .8rem;
            }
        }
    }

    .wrapper {
        display: grid;
        grid-template-columns: repeat(4, 5rem);
        place-items: center center;
        margin-bottom: 2rem;
        padding: 1rem;
        // padding: 6rem 4rem;
        gap: 1.5rem;
        // width: min-content;
        background: rgba($color: #000, $alpha: .1);
        border-radius: 15px;
    }

    .app-icon {
        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__bg {
            height: 5rem;
            width: 5rem;
            border-radius: 8px;
            background: orange;
            display: grid;
            place-items: center center;
            cursor: pointer;
        }

        &__name {
            margin-top: .5rem;
            color: white;
            font-size: 1.1rem;
        }
    }
      
    .app-opened {
        height: 100%;
        width: 100%;
        position: absolute;
        padding: 3rem;
        box-sizing: border-box;
        overflow: hidden;

        .content-wrapper {
            height: 100%;
        }
    }
      
    .close-bar {
        width: 35%;
        height: 3px;
        border-radius: 100px;
        position: absolute;
        top: 97.5%;
        z-index: 20;
    }
}
  
