// .iphone-animation {
//     height: 100%;
//     width: 100%;
//     display: grid;
//     place-items: start center;
//     position: relative;

//     .wrapper {
//         display: grid;
//         grid-template-columns: repeat(4, 50px);
//         place-items: center center;
//         padding: 4rem;
//         gap: 1rem;
//         width: min-content;
//     }

//     .app {
//         background: orange;
//         height: 5rem;
//         width: 5rem;
//         border-radius: 10px;

//         &--opened {
//             background: orangered;
//             z-index: 10;
//             position: absolute;
//             top: 0;
//             left: 0;
//             height: 100%;
//             width: 100%;
//         }
//     }

//     // .placeholder {
//     //     background: transparent !important;
//     // }
// }
//////////////////////////////////////////////////
.iphone-animation {
    height: 100%;
    width: 100%;
    display: grid;
    place-items: start center;
    overflow: hidden;
    position: relative;
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    
    .wrapper {
        display: grid;
        grid-template-columns: repeat(4, 5rem);
        place-items: center center;
        padding: 4rem;
        gap: 1rem;
        width: min-content;
    }

    .app {
        height: 5rem;
        width: 5rem;
        border-radius: 5px;
    }
      
    .placeholder {
        background: transparent;
    }
      
    .opened {
        height: 100%;
        width: 100%;
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 10;
        border-radius: none;
    }
      
    .content {
        &__container {
            box-sizing: border-box;
            color: black;
            position: relative;
            width: 100%;
            height: 100%;
            padding: 2rem;
        }

        &__wrapper {
            &--outer {
                width: 100%;
                display: flex;
                justify-content: center;
                background: beige;

                h1 {
                    font-size: 3.6rem;
                }
        
                h2 {
                    font-size: 2.8rem;
                }
            }

            &--inner {
                width: 100%;
                background: green;
            }
        }
    }

    .close-bar {
        width: 40%;
        height: .4rem;
        background-color: white;
        border-radius: 10px;
        position: absolute;
        top: 97.5%;
        z-index: 20;
    }
}
  
