.link-animation {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center center;
    background: #4DA6FF;
    color: white;

    .container {
        display: flex;
        justify-content: center;
        border-bottom: 3px solid white;
        cursor: pointer;

        .letter-container {
            font-size: 3rem;
            font-family: 'Roboto Mono', monospace;

            position: relative;
            width: 1.7rem;
            height: 3rem;
            overflow: hidden;
            font-weight: 700;

            div {
                position: absolute;
                background: #4DA6FF;
                top: 0;
                left: 0;
                pointer-events: none;
            }
        }
    }
}

.link-animation__guide-wrapper {
    height: 100px;
    width: 150px;
    border-radius: 15px;
    margin: 20px 0;
    overflow: hidden;
}