.underlined-menu {
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center left;
    color: rgba($color: #171717, $alpha: .7);

    .wrapper {
        display: flex;
        justify-content: space-evenly;
    }

    .menu-item {
        margin: 0 1.5rem;
        font-size: 3rem;
        font-weight: 700;
        cursor: pointer;
        position: relative;

        &:first-child {
            margin-left: 3rem;
        }
    }

    .underline {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 4px;
        border-radius: 15px; 
    }
}