.cp-transition {
    &__container {
        height: 100%;
        width: 100%;
        position: relative;

        @media (max-width: 768px) {
            min-height: 250px;
        }
        
        & > div {
            height: 100%;
        }

        &--yellow {
            background-image: radial-gradient( circle 929px at 0.6% 1.3%,  rgba(248,251,10, .4) 0%, rgba(248,47,47, .4) 82.6% );
        }
        &--green {
            background-image: linear-gradient( 110.1deg,  rgba(34,126,34, .4) 2.9%, rgba(168,251,60, .4) 90.3% );
        }
        &--violet {
            background-image: linear-gradient( 109.7deg,  rgba(229,0,57, .4) 1.8%, rgba(162,91,182, .4) 90.2% );
        }
        &--blue {
            background-image: radial-gradient( circle 654px at 0.6% 48%,  rgba(12,170,255, .4) 0%, rgba(151,255,129, .4) 86.3% );
        }
    }

    .square {
        position: relative;
        height: 70px;
        width: 70px;
        margin: 15px;
        border-radius: 15px;
        box-shadow: var(--shadow-md);
        transition: all .2s;
        cursor: pointer;

        &--yellow {
            background-color: #EAD200;
        }
        &--green {
            background-color: #6ACB00;
        }
        &--violet {
            background-color: #771ADA;
        }
        &--blue {
            background-color: #19A0FA;
        }

        &:hover {
            transform: translateY(-3px) !important;
        }
    }

    &__squares-wrapper {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
    }

    .card {
        color: white;

        &__wrapper {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 3rem;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: min-content 1fr;
            gap: 2rem;

            &--yellow {
                background-image: radial-gradient( circle 929px at 0.6% 1.3%,  rgba(248,80,80,1) 0%, rgba(248,251,10,1) 82.6% );
            }
            &--green {
                background-image: linear-gradient( 110.1deg,  rgba(34,126,34,1) 2.9%, rgba(168,251,60,1) 90.3% );
            }
            &--violet {
                background-image: linear-gradient( 109.7deg,  rgba(229,0,57,1) 1.8%, rgba(162,91,182,1) 90.2% );
            }
            &--blue {
                background-image: radial-gradient( circle 654px at 0.6% 48%,  rgba(12,170,255,1) 0%, rgba(151,255,129,1) 86.3% );
            }
        }

        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            h2 {
                font-size: 3.2rem;
                font-weight: 700;
                margin-bottom: 0 !important;
            }

            button {
                color: white;
                border: none;
                background: transparent;
                cursor: pointer;
            
                &:focus {
                    outline: none;
                }
            }
        }

        &__content {
            display: grid;
            gap: 30px;
            grid-template-columns: min-content 1fr;
            align-content: center;
            shape-outside: circle();
        }

        &__img-placeholder {
            height: 175px;
            width: 175px;
            background: rgba(255, 255, 255, .7);
            border-radius: 50%;

            @media (max-width: 768px) {
                height: 80px;
                width: 80px;
            }
        }

        &__text-placeholder {
            text-align: justify;
            line-height: 125%;
            font-size: 1.6rem;
        }
    }
}

.cp-transition__guide-wrapper {
    max-width: 51rem;
    width: 100%;
    height: 33rem;
    margin: 30px 0;
    border-radius: 15px;
    overflow: hidden;
    display: grid;
    place-items: center center;

    @media (max-width: 455px) {
        margin: 0;
    }

    @media (max-width: 400px) {
        .card__wrapper {
            gap: 0;
        }

        .square {
            height: 50px;
            width: 50px;            
        }
    }
}