.element-scroll {
    width: 100%;
    height: 100%;
    overflow: scroll;
    position: relative;

    &__content {
        height: 3000px;
    }
}

.bloczek {
    position: sticky;
    top: 40px;
    left: 40px;
    height: 75px;
    width: 75px;
    background: orange;
    border-radius: 15px;
}