.gallery {
    padding: 150px 0;
    height: 100%;
    width: calc(750px + 12rem);
    margin: 0 auto;

    @media (max-width: 768px) {
        padding: 75px 0;
        width: 100%;
    }

    &__dim-layer {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: black;
        z-index: 2;
        pointer-events: none;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin: 0 auto;
        margin-bottom: 2rem;

        @media (max-width: 768px) {
            width: 90%;
        }

        h1 {
            color: var(--font-black);
            font-size: 4.8rem;
            font-weight: 900;
        }

        button {
            border: none;
            background: none;
            font-size: 1.6rem;
            font-family: 'Poppins', sans-serif;
            cursor: pointer;

            &:focus {
                outline: none;
            }
        }
    }

    &__container {
        margin: 0 auto;

        display: grid;
        grid-template-columns: repeat(5, 150px);
        grid-auto-rows: 150px;
        gap: 3rem;
        grid-auto-flow: dense;
        
        justify-content: left;
        align-items: stretch;

        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    &__card {
        display: grid;
        align-items: center;
        justify-items: center;
        border-radius: 15px;
        background: white;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
        transition: all .2s;
        overflow: hidden;

        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
        }
    }
}

.gallery--mobile {
    padding: 100px 0;
    height: min-content;
    width: 100%;
    background: rgb(253,252,251);
    background: linear-gradient(135deg, rgba(253,252,251,1) 0%, rgba(226,209,195,1) 100%);

    &__container {
        height: min-content;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-flow: row;
        place-items: center center;
        row-gap: 3rem;
    }
}

