.tutorial {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: orangered;

    // &.container {
    //     height: 100%;
    //     width: 100%;
    //     display: grid;
    //     grid-template-columns: 1fr 1fr;
    //     grid-template-rows: 1fr;
    //     background-color: orangered;
    // }

    .guide-wrapper {
        height: 100%;
        padding: 20px;
    }

    .code-wrapper {
        height: 100%;
        padding: 20px;
        color: white;
        background-color: var(--font-black);
    }
}