.tutorial {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }

    .guide {
        color: var(--font-black);

        &__wrapper {
            height: 100%;
            overflow: auto;
        }

        &__scroll-top {
            position: fixed;
            left: calc(50% - 10rem);
            top: 90%;
            opacity: 1;
            cursor: pointer;
        
            @media (max-width: 1200px) {
                left: calc(50% - 8rem);
            }
        
            @media (max-width: 992px) {
                left: calc(50% - 7rem);
            }
        
            @media (max-width: 768px) {
                left: calc(50% - 6rem);
            }
        }

        &__content {
            padding: 60px 16rem;

            @media (max-width: 1600px) {
                padding: 60px 13rem;
            }

            @media (max-width: 1400px) {
                padding: 60px 11rem;
            }

            @media (max-width: 1200px) {
                padding: 60px 10rem;
            }

            @media (max-width: 992px) {
                padding: 60px 7rem;
            }

            p, li {
                code {
                    font-family: 'Inconsolata', monospace;
                    font-weight: 700;
                }
            }

            ul {
                padding-left: 3rem;
                list-style-type: disc;
                font-size: 1.6rem;

                li {
                    padding-bottom: 1rem;

                    a {
                        font-family: 'Poppins', sans-serif;
                        line-height: 1;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }

            ol {
                list-style-type: decimal;
                padding-left: 3rem;
            }

            & > div, h2, p, pre, ol, ul {
                margin-bottom: var(--guide-margin-bot);
            }
    
            h1 {
                font-size: 6.4rem;
                font-weight: 900;
            }
    
            h2 {
                font-size: 2.6rem;
                font-weight: 700;
            }
    
            p, li {
                font-size: 1.6rem;
                font-family: 'open sans', sans-serif;
                line-height: 1.5;
            }

            pre {
                font-size: 1.6rem;
            }
        }

        &__component-wrapper {
            overflow: hidden;
            background-color: white;
            border-radius: 15px;
            box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
            display: grid;
            place-items: center center;
            width: 100%;
        }

        #disqus_thread {
            margin-top: calc(2 * var(--guide-margin-bot));
            position: relative;

            &::before {
                content: "";
                position: absolute;
                top: calc(-1 * var(--guide-margin-bot));
                left: 0;
                width: 100%;
                height: 1px;
                background: rgba($color: #272727, $alpha: .2);
            }
        }
    }

    @media (min-width: 769px) {
        ::-webkit-scrollbar-track {
            background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 35%, var(--scroll-color) 55%, var(--body-bg-color) 61%, var(--body-bg-color) 100%);
        }
            
        ::-webkit-scrollbar {
            height: 10px;
            width: 10px;
        }
          
        ::-webkit-scrollbar-thumb {
            background-color: var(--font-black);
            border-radius: 4px;
        }
    }

    code {
        &.language-css {
            span {
                min-width: 2rem !important;
            }
        }
    }

    .code {
        &__wrapper {
            overflow-y: scroll;
            height: 100%;
            padding: 20px;
            color: white;
            background-color: #434a56;

            
            pre {
                @media (max-width: 768px) {
                    margin: 2.5rem 0;
                }
            }
        }

        &__navbar {
            position: fixed;
            top: 0;
            left: calc(50% + 20px);
            width: calc(50% - 40px - 10px);

            font-size: 1.6rem;
            background: rgba(30, 30, 30, 1);
            height: 40px;
            border-radius: 0 0 8px 8px;
            display: flex;
            align-items: center;
            overflow: hidden;

            @media (max-width: 768px) {
                left: 20px;
                width: calc(100% - 40px);
                font-size: 1.8rem;
            }

            & > span {
                color: rgba($color: #fff, $alpha: .6);
                border-right: 1px solid rgba($color: #fff, $alpha: .6);
                padding: 0 20px;

                @media (max-width: 768px) {
                    font-weight: 700;
                    font-size: 2rem;
                    padding: 0 10px;
                    width: min-content;
                }
            }
        }

        &__file {
            height: 100%;
            width: min-content;
            padding: 0 20px;
            display: flex;
            align-items: center;
            cursor: pointer;

            @media (max-width: 768px) {
                padding: 0 10px;
            }

            &:first-of-type {
                margin-left: 20px;

                @media (max-width: 768px) {
                    margin-left: 10px;
                }
            }

            &.selected {
                background: rgba(255, 255, 255, .2);
            }

            &:not(.selected) {
                &:hover {
                    background: rgba(255, 255, 255, .1);
                }
            }

            &--js {
                span {
                    color: #F0DB4F;
                }
            }

            &--css, &--scss {
                span {
                    color: #CD6799;
                }
            }
        }

        &__content {
            margin-top: 60px;
        }
    }
}

.mobile-navbar {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: rgba($color: #272727, $alpha: .95);
    width: 80%;
    height: 50px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px 10px 0 0;

    &__icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        fill: white;        

        svg {
            max-height: 35px;
            margin-bottom: -6px;
        }
    }

    span {
        font-size: 1.6rem;
    }
}