.c2 {
    grid-column: span 2;
}

.c3 {
    grid-column: span 3;
}

.c4 {
    grid-column: span 4;
}

.c5 {
    grid-column: span 5;
}

.c6 {
    grid-column: span 6;
}

.c7 {
    grid-column: span 7;
}

.c8 {
    grid-column: span 8;
}

.full-row {
    grid-column: 1/-1;
}

.r2 {
    grid-row: span 2;
}

.r3 {
    grid-row: span 3;
}

.r4 {
    grid-row: span 4;
}

.r5 {
    grid-row: span 5;
}

.r6 {
    grid-row: span 6;
}

.r7 {
    grid-row: span 7;
}

.r8 {
    grid-row: span 8;
}