.infinite-cards {
    height: 200px;
    width: 100%;
    display: grid;
    place-items: center center;
    position: relative;

    .card {
        position: absolute;
        left: 0px;
        top: 0px;
        height: 150px;
        width: 150px;
        border-radius: 15px;
        color: #fff;
        display: grid;
        place-items: center center;
        padding: 10px;

        @media (max-width: 768px) {
            left: auto;
            top: auto;   
        }
    
        span {
            text-align: center;
            font-size: 28px;
            font-weight: 700;
        }
    }
}

.infinite-cards__guide-wrapper {
    width: 20rem;
    height: 20rem;
    padding: 2.5rem;
    margin: 2.5rem;
    overflow: hidden;
    background-image: radial-gradient(circle at 85.54% 7.65%, #fdecc7 0, #f2deb5 50%, #e7d0a4 100%);
    border-radius: 15px;
    
    @media (max-width: 768px) {
        & > div {
            height: 100%;
        }
    }
}